apiVersion: apps/v1
kind: Deployment
metadata:
  name: aplicacion
  namespace: ejemplo-k8s
spec:
  template:
    spec:
      volumes: 
        - name: codigo-fuente
          hostPath: 
            path: /path/to/code
            type: DirectoryOrCreate
