apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: ejemplo-k8s
spec:
  template:
    spec:
      volumes: 
        - name: base-de-datos
          hostPath: 
            path: /path/to/code/mysql
            type: DirectoryOrCreate
